body{
  background-image: url('image/lbb.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 0 0 0 !important;
}

.body_daftar{
  width: 500px;
  padding: 10px;
  color: white;
  margin-top:-400px;
  margin-left:57%;
  font-family: Century Gothic;
	font-size: 33px;
}


.body{
  width: 500px;
  padding: 10px;
  color: white;
  margin-left:50%;
  margin-top:1px;
  font-family: Century Gothic;

}

input[type="text"]{
  padding: 5px;
  border-radius: 5px;
  width :450px;
  font-size:16px;
  border: none;
  outline:none;
  margin-top:1px;
}
input[type="text"]:focus{
  box-shadow: 0px 0px 5px white;
  transition: all.3s;

}

input[type="password"]{
  padding: 5px;
  border-radius: 5px;
  width : 450px;
  font-size:16px;
  border: none;
  outline:none;
}
input[type="password"]:focus{
  box-shadow: 0px 0px 5px white;
  transition: all.3s;
}

input[type="date"]{
  padding: 5px;
  border-radius: 5px;
  width : 450px;
  font-size:16px;
  border: none;
  outline:none;
}
input[type="date"]:focus{
  box-shadow: 0px 0px 5px white;
  transition: all.3s;
}

input[type="submit"]{
  padding: 5px;
  border-radius: 5px;
  width : 450px;
	height: 50px;
  font-size:33px;
  margin-left:19%;
  color:grey;
  border: none;
  outline:none;

}
input[type="submit"]:hover{
	background-color: maroon;
  color: white;
}
input[type="submit"]:focus{
  box-shadow: 0px 0px 5px white;
  transition: all.3s;
}

.buttona{
  padding: 5px;
  border-radius: 5px;
  width : 120px;
	height: 100px;
  font-size:12px;
  color:grey;
  border: none;
  outline:none;
  margin-left: 174px;
}
.profil{
  font-size: 27px;
}
